<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Take a note
            </mat-panel-title>

        </mat-expansion-panel-header>
        <form class="example-form">
            <mat-form-field>
                <input matInput placeholder="title" [(ngModel)]="note.title" name="title">
            </mat-form-field>
            <br>
            <mat-form-field>
                <textarea matInput placeholder="text" [(ngModel)]="note.text" name="text"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-select placeholder="status" [(ngModel)]="note.status" name="status">
                    <mat-option value="not-started">not-started</mat-option>
                    <mat-option value="started">started</mat-option>
                    <mat-option value="completed">completed</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-action-row>
                <button mat-button color="primary" (click)="add()">Done</button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>

</mat-accordion>
<label class='error-message'>{{ errMessage }}</label>